---
import { Icon } from 'astro-icon';
---

<section class="bg-primary-50 dark:bg-slate-800">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold"><Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" />Interest:</span>
    computation- and data-intensive science,
    computational astrophysics,
    black hole astrophysics,
    VLBI,
    machine learning,
    parallel and scalable algorithms,
    HPC-cloud convergence,
    visual computing,
    interactive simulations, and
    <span class="sm:whitespace-nowrap">data visualization in VR/AR</span>.
  </div>
</section>
